AracTakipOtomasyonu/Web References/VeriEkleServis/VeriEkle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="KullaniciEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciEkleResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KullaniciEkleSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciEkle" />
  </wsdl:message>
  <wsdl:message name="KullaniciEkleSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciEkleResponse" />
  </wsdl:message>
  <wsdl:portType name="VeriEkleSoap">
    <wsdl:operation name="KullaniciEkle">
      <wsdl:input message="tns:KullaniciEkleSoapIn" />
      <wsdl:output message="tns:KullaniciEkleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VeriEkleSoap" type="tns:VeriEkleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KullaniciEkle">
      <soap:operation soapAction="http://tempuri.org/KullaniciEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VeriEkleSoap12" type="tns:VeriEkleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KullaniciEkle">
      <soap12:operation soapAction="http://tempuri.org/KullaniciEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VeriEkle">
    <wsdl:port name="VeriEkleSoap" binding="tns:VeriEkleSoap">
      <soap:address location="http://localhost:60745/VeriEkle.asmx" />
    </wsdl:port>
    <wsdl:port name="VeriEkleSoap12" binding="tns:VeriEkleSoap12">
      <soap12:address location="http://localhost:60745/VeriEkle.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>